---
# See https://clang.llvm.org/extra/clang-tidy/index.html
# First disable all default checks (with -*)
Checks: '-*,-clang-diagnostic-error,bugprone-return-const-ref-from-parameter'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
SystemHeaders: false
FormatStyle: none
CheckOptions:
  # See https://clang.llvm.org/extra/clang-tidy/checks/misc/include-cleaner.html
  # Otherwise ClangTidy wants us to directly include private headers from our modules
  - key: misc-include-cleaner.MissingIncludes
    value: 'false'
