---
# See https://clang.llvm.org/extra/clang-tidy/index.html
Checks: '
        concurrency-*,
        bugprone-*,
        -bugprone-easily-swappable-parameters,
        '
InheritParentConfig: true
WarningsAsErrors: '*'
FormatStyle: none
